
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<meta name="description" content="">-->
    <meta name="author" content="Basso - Clabault - Dupont - Melinger">
    <link rel="icon" href="../../favicon.ico">

    

    <title>UPJV - Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/profil.css" rel="stylesheet">
    <link href="../../bootstrap/css/accueil.css" rel="stylesheet">
    <link href="../../bootstrap/css/form.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="theme.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('img/UPJVIcon.png') }}" />
  </head>

  <body style="background-image: url('../../img/wallpaper3.jpg'); background-attachment:fixed;">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">    <!-- Barre de navigation -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="{{ path ('portfolio_homepage') }}"> Portfolio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{{ app.request.attributes.get('_route') == 'portfolio_homepage' ? 'active' }}"><a href="{{ path ('portfolio_homepage') }}">Accueil</a></li>
            <li class="{{ app.request.attributes.get('_route') == 'recherche' ? 'active' }}"><a href="{{ path ('rechercheAvancee') }}">Recherche</a></li>


            {% if (app.session.get('userID') is not null) %}
                <li><a href="{{ path ('deconnexion') }}">Déconnexion ({{ app.session.get('userName') }})</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path ('modification_profil', {'id': app.session.get('userID')}) }}" >
                      Mon profil&nbsp;
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path ('modification_profil', {'id': app.session.get('userID')}) }}">Consulter mon profil&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-bell"></span></a></li>
                      <li><a href="{{ path ('alertes_defaut', {'id': app.session.get('userID')}) }}">Mes alertes&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-bell"></span></a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path ('connexion') }}">Connexion</a></li>
                <li><a href="{{ path ('creation_profil') }}">Création profil</a></li>
            {% endif %}

            
            
            <li><a href="{{ path ('portfolio_contact') }}">Contact</a></li>
            {% if (app.session.get('userRole') == '1') %}
            <li><a href="{{ path ('admin_homepage') }}">Admin</a></li>
            {% endif %}
            <!--
            <li class="dropdown">
              <a href="{{ path ('admin_homepage') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path ('experience_defaut') }}">Expérience</a></li>
                <li><a href="{{ path ('cursus_defaut') }}"</a>Cursus</li>
                <li><a href="{{ path ('competences_defaut') }}"</a>Compétences</li>
                <li><a href="{{ path ('matrice_defaut') }}"</a>Matrices</li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->

            <!-- Barre de recherche -->
            <li>
              <form class="navbar-form navbar-left" role="search" action="{{ path ('rechercheParNom') }}" method="post" name ="nomRecherche" >
                <div class="form-group">
                    <input type="text" name ="nomRecherche" class="form-control" placeholder="Nom de la personne recherchée" size="25" required style="margin-left:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;">
                </div>
                
                <button type="submit" class="btn btn-primary" style="margin-left:-5px;border-top-left-radius:0px;border-bottom-left-radius:0px;">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

   <div class="container theme-showcase" role="main">
      <div class="jumbotron" style="margin-top:70px;margin-bottom:0px;padding-top:5px;padding-bottom:25px;">
        {% block tete %}
         {% endblock %}
      </div>
    </documentiv>
   <div class="page-header" style="margin-top:0px;">
    {% block titre_section %}
    {% endblock %}
   </div>

    {% block page %}
    {% endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../bootstrap/js/jquery.min.js"></script>
     <script src="../../bootstrap/js/holder.js"></script>
     <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="../../style/script/profil.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
