{% extends "PortfolioBundle:Default:layout2.html.twig" %}

{% block tete %}
<h1>Modification du profil</h1>
        <p>Sur cette page, vous pouvez modifier votre profil</p>
{% endblock %}

{% block titre_section %}
{% endblock %}

{% block page %}

{% if (app.session.get('userRole') == '1') or (utilisateur.id == app.session.get('userID') ) %}

<div>
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" src="../../{{ utilisateur.urlPhoto }}">
        </div>
        <div class="useravatar">
            <img alt="" src="../../{{ utilisateur.urlPhoto }}">
        </div>
        <div class="card-info"> 
        	<span class="card-title">{{ utilisateur }} </span>
        	</br>
        </div>
    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Informations personnelles</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                <div class="hidden-xs">Compétences</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                <div class="hidden-xs">Cursus</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <div class="hidden-xs">Expériences</div>
            </button>
        </div>
    </div>

    <div class="well">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="tab1">
			    <p>
			 	<div>
				    {{ form_start(edit_form) }}
				        {{ form_widget(edit_form) }}
				        <input type="submit"  class="btn btn-primary" value="Enregistrer les informations saisies" />
				    {{ form_end(edit_form) }}

					</br>
				    <form method="post" enctype="multipart/form-data" action = "../../../script/upload.php">
				 		<div class="form-inline">
				 			<label>Changer de photo de profil&nbsp;</label>
				 			<input type = "hidden" name='id' id='id' value = {{ app.session.get('userID') }}>
						 	<input class="form-control" type="file" name="fileToUpload" id="fileToUpload">&nbsp;
		    				<input type="submit" value="Modifier" name="submit" class="btn btn-default" style="float: right; width:150px;">
				 		</table>
				 		</div>
				 	</form>

					<br/>
					<a href="{{ path ('exportCV', { 'id': app.session.get('userID') }) }}"  class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-user"></span>
						Exporter mon CV
					</a>

			 	</div>
			 	</p>
			</div>
			<div class="tab-pane fade in" id="tab2">
				<a href="{{ path ('competence_utilisateur_ajout') }}">Ajouter une compétence</a>
	            {% for comp in competences %}
		            {% if comp.libelle_competence != "" %}
		                <p>
		                <div class="row">
		                    <div>
		                        <div class="panel panel-default">
		                            <div class="panel-heading">
		                                <h3 class="panel-title"><b><u>{{ comp.libelle_competence }}</u></b>
		                                <a href="{{ path ('profil_delete_utilisateurs_competences', { 'id_competence': comp.id_competence, 'id_utilisateur': comp.id_utilisateur }) }}"  style="float: right;" class="btn btn-sm" role="button" title="Supprimer cette compétence">
											<span class="glyphicon glyphicon-remove" style="color: red;"></span>
										</a>
										
										</h3>
		                            </div>
		                            <div class="panel-body">
		                            <table>
		                                <tr><b>Classification : </b> {{ comp.libelle_theme }} / {{ comp.libelle_sous_theme }} / {{ comp.libelle_sous_sous_theme }}</tr><hr/>
		                                <tr><b>Détail : </b> {{ comp.detail_competence }}</tr><hr/>
		                                <tr><b>Niveau : </b> {{ comp.niveau_competence }}</tr>

		                                {% for cuc in cucs %}
		                                    {% if comp.id_competence == cuc.competences_id %}
		                                        <tr>Compétence acquise lors du cursus <b>{{ cuc.libelle_formation ~ "."}}</b></tr><hr/>
		                                    {% endif %}
		                                {% endfor %}
		                            </table>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                </p>
	                {% endif %}
	            {% endfor %}
	        </div>
        	<div class="tab-pane fade in" id="tab3">
        		<a href="{{ path ('cuc_ajout') }}">Ajouter un cursus</a>
	            {% for cur in cursus %}
	                <p>
	                <div class="row">
	                    <div>
	                        <div class="panel panel-default">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><b><u>{{ cur.libelle_formation }}</u></b></h3>
	                            </div>
	                            <div class="panel-body">
	                            <table>
	                                <tr><b>Description : </b> {{ cur.description_formation }}</tr><hr/>
	                                <tr><b>Année : </b> {{ cur.annee }}</tr><hr/>
	                                <tr><b>Obtention du diplôme : </b> {{ cur.diplome }}</tr>
	                                </td>
	                            </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                </p>
	            {% endfor %}
        	</div>
        	<div class="tab-pane fade in" id="tab4">
        		<a href="{{ path ('experience_ajout') }}">Ajouter une expérience</a>
	            {% for xp in experiences %}
	                <p>
	                <div class="row">
	                    <div>
	                        <div class="panel panel-default">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><b><u>{{ xp.type_experience }}</u></b></h3>
	                            </div>
	                            <div class="panel-body">
	                            <table>
	                                <tr><b>Description : </b> {{ xp.description_experience }}</tr><hr/>
	                                <tr><b>Durée experience : </b> {{ xp.dureeExperience }}</tr><hr/>
	                                <tr>{{ xp.cursus_libelle }}</tr>
	                                </td>
	                            </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                </p>
	            {% endfor %}
        	</div>
		</div>
    </div>
    
</div>

{% else %}
Page non autorisée.
<a href="{{ path ('portfolio_homepage') }}">Retour à l'accueil</a></li>
{% endif %}

{% endblock %}
