

{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
	<style style="text/css">
		/* Define the hover highlight color for the table row */
	    .table-hover tbody tr:hover{
	          background-color: #cfd8dc;
	    }
	</style>
	<h1>Recherche</h1>
	<p>Trouvez le candidat idéal !</p>
{% endblock %}

{% block titre_section %}
	{% if userRecherche is defined %}
		<h1>Résultats de la recherche pour '{{ userRecherche }}'.</h1>
	{% endif %}
{% endblock %}


{% block page %}
	<p>
		<!-- Parcours des résultats de la recherche. -->
		{% if resultatRequete is defined %}
			{% for resultat in resultatRequete %}
				<!--<center>-->
					<div class="panel panel-primary" style="max-width:800px;border-color:#546e7a;margin-left:auto;margin-right:auto;" >
						<div class="panel-heading" style="border-color:#546e7a;background-image: linear-gradient(to bottom,#37474f   0,#546e7a   100%);border-bottom-right-radius:0px;border-bottom-left-radius:0px;">
							<h3 style="margin:0px;"><!-- class="panel-title">-->
								<center>
									{{ resultat.prenom_utilisateur }} {{ resultat.nom_utilisateur }}
								</center>
							</h3>
						</div>

						<div class="panel-body" style="padding-top:0px;margin-top:10px;">
							{% if resultat.age is not null %}
								 <span class="label label-default" style="font-weight:normal;font-size:16px;">{{ resultat.age }} ans</span>
							{% endif %}

						<span class="label label-default" style="font-weight:normal;font-size:16px;">{{ resultat.mail_utilisateur }}</span>
					
						<span class="label label-default" style="font-weight:normal;font-size:16px;">
							{{ resultat.ville ~ ' (' ~ resultat.code_postal ~ ')' }}
						</span>
						<br>

						<h3><b>Cursus</b></h3>
						<ul>
							<!-- Parcours de la table utilisateurs_comp_user afin de rechercher les cursus et comp de l'user actuel -->
							{% for resCursus in resultatCursus %}
								{% if resCursus.utilisateurs_id == resultat.id %}
									<h4 style="margin-top:0px;margin-bottom:15px;">
										<span class="label label-success" style="margin-bottom:15px;font-size:15px;font-weight:normal;">
											{{ resCursus.libelle_formation ~ ' (' ~ resCursus.annee ~ ')'}}
										</span>
									</h4>
								{% endif %}
							{% endfor %}
						</ul>



						<h3><b>Compétences</b></h3>
						<ul>
							<!-- Parcours de la table utilisateurs_comp_user afin de rechercher les cursus et comp de l'user actuel -->
							{% for resComp in resultatComp %}
								{% if resComp.utilisateurs_id == resultat.id %}
									<h4 style="margin-top:0px;margin-bottom:15px;">
										<span class="label label-primary" style="font-size:15px;font-weight:normal;">
											{{ resComp.libelle_competence }}
											{% set nbValidations = 0 %}
											{% for resValidation in resultatValidations %}
												{% if resultat.id == resValidation.idUtilisateurValide %}
													{% if resComp.competences_id == resValidation.idCompetenceValidee %}
														{% if resValidation.type_valid == 'comp' %}
															{% set nbValidations = nbValidations +1 %}
														{% endif %}		
													{% endif %}
												{% endif %}
											{% endfor %}
										</span>
										{% if nbValidations > 0 %}
											  <span class="badge">{{ nbValidations }} validation(s)</span>
										{% endif %}
									</h4>
								{% endif %}
							{% endfor %}
						</ul>


						<h3 style="margin-top:30px;"><b>Expériences</b></h3>
						<ul>
							<!-- Parcours de la table utilisateurs_comp_user afin de rechercher les cursus et comp de l'user actuel -->
							{% for resExperience in resultatExp %}
								{% if resExperience.utilisateurs_id == resultat.id %}
									<h4 style="margin-top:0px;margin-bottom:15px;">
										<span class="label label-danger" style="margin-bottom:15px;font-size:15px;font-weight:normal;">
											{{ resExperience.type_experience ~ ' : ' ~ resExperience.description_experience ~ ' (' ~ resExperience.dureeExperience ~ ' mois)'}}
										</span>
									</h4>
								{% endif %}
							{% endfor %}
						</ul>

						<br/>


					        <a href="{{ path ('profil', { 'id': resultat.id }) }}"  class="btn btn-primary" role="button">Consulter le profil</a>
					    </div>
					</div>
				<!--</center>-->
			{% endfor %}
		{% endif %}
	</p>
{% endblock %}